{
    "extends": ["plugin:prettier/recommended", "standard-with-typescript"],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "indent": "off",
        "@typescript-eslint/indent": ["off"],
        "prettier/prettier": "off",
        "space-before-function-paren": "off",
        "@typescript-eslint/space-before-function-paren": ["off"]
    }
}
